#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.card-wrapper {
  position: relative;
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.card {
  width: 100%;
  height: 100%;
}

.input {
  position: absolute;
  font-size: 5rem;
  background: transparent;
  border: 4px dotted #333333;
  color: black;
  width: 10%;
  font-family: "Momo Signature", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.top {
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  
}

.bottom {
  bottom: 25%;
  left: 50%;
  transform: translateX(-50%);
}

.left {
  left: 25%;
  top: 50%;
  transform: translateY(-50%);
}

.right {
  right: 25%;
  top: 50%;
  transform: translateY(-50%);
}

.solve-button {
  position: absolute !important;
}
